:root {
    --palette-background: rgb(21, 9, 14);
    --palette-primary: rgb(42, 82, 156);
    --palette-surface-primary:rgb(42, 18, 28);
    --palette-negative: #cd3640;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--palette-background);
    color: white;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: "Exo 2", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#header {
    background-color: var(--palette-surface-primary);
    min-height: 50px;
    width: 500px;
    border-radius: 10px;
    margin: 10px;
    transition: background-color 300ms;
}

#header.game-over {
    background-color: rgb(206, 52, 65);
}

.box {
    background-color: var(--palette-surface-primary);
    /* height: 40px;
    width: 40px; */
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: background-color 0.2s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-bold);
}

#board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    border: 5px solid var(--palette-surface-primary);
    padding: 5px;
    border-radius: 10px;

    width: 500px;
    height: 500px;
}

.red-color {
    color: red;
    font-weight: 900;

}

.opened {
    background-color: rgb(6, 6, 33);
}

.bomb {
    padding: 20%;
    background-color: var(--palette-negative);
}

.boom {
    /* color: var(--palette-negative); */
}

.flag {
    color: var(--palette-primary);
    padding: 20%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
}

.game-over-text {
    font-size: 40px;
    font-weight: 700;
}

.button {
    height: 60px;
    border-radius: 10px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: inherit;
    background-color: var(--palette-surface-primary);
    outline: none;
    border: none;
    font-weight: 700;
    color: white;
}

.button.primary {
    background-color: rgb(21, 114, 190);
    color: rgb(0, 0, 0);
}

@keyframes highlight {
    0% {}
    50% {
      background-color: red;
    }
    100% {}
  }

.highlight {
    /* animation-name: highlight;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
    animation: highlight 500ms infinite;
}

.number-0 {
    opacity: 0.5;
}
.number-1 {
    color: #ffe5e5;
}
.number-2 {
    color: #ffcccc;
}
.number-3 {
    color: #ffb3b3;
}
.number-4 {
    color: #ff9999;
}
.number-5 {
    color: #ff8080;
}
.number-6 {
    color: #ff6666;
}
.number-7 {
    color: #ff4c4c;
}
.number-8 {
    color: #ff3232;
}
